.progressionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
}

.progressionElement {
  width: 100px;
  height: 100px;
  opacity: 0.5;
}

.active {
  opacity: 1;
}

.red {
  background: #f00000;
}

.blue {
  background: #007bff;
}

.yellow {
  background: #ffc900;
}

.green {
  background: #00e000;
}
